details {
  cursor: pointer;
  margin-bottom: 20px;
}

details[open] > *:not(summary) {
  animation: details-show 250ms ease-in-out;
}

details p {
  color: #71717a;
  cursor: default;
  margin-top: 10px;
}

@keyframes details-show {
  from {
    opacity: 0;
  }
}
