h2 {
  margin-bottom: 20px;
}

section {
  border: 1px solid #eaecef;
  border-radius: 7.5px;
  margin-top: 20px;
  padding: 20px;
}

section h2 {
  font-size: larger;
  margin-bottom: 20px;
}

ol > li::marker {
  font-weight: bold;
}
